
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-soloist: Soloist;
    
    /* Colors */
    --color-gray-100: #818479;
    --color-black: #000;
    --color-white: #fff;
    --color-darkgray: #aeb2a4;
    --color-gainsboro: #d9d9d9;
    
    /* Border radiuses */
    --br-xs: 12px;
    --br-17xl: 36px;
    
}