
body {
    margin: 0;
    line-height: normal;
}


:root {
    
    /* fonts */
    --font-soloist: Soloist;
    
    /* Colors */
    --color-black: #000;
    --color-white: #fff;
    --color-gray: #818479;
    --color-darkgray: #aeb2a4;
    
    /* Border radiuses */
    --br-xs: 12px;
    
}